# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dissertation VR Project.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Coding\Unity\Dissertation VR Project\.idea\.idea.Dissertation VR Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
